################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2Dshooter/FileContentIndex
/.vs/2Dshooter/v17
/.vs
